<div class="row">
    <div class="side">
        <h2>Sobre</h2>
        <h5>Minhas Imagens</h5>
        <div class="amostraDeImg" style="height: 200px;">IMG</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquam est dicta laboriosam voluptatibus
            repudiandae ipsum soluta quisquam. Libero quas ipsum saepe exercitationem vero nulla officiis veniam totam
            nihil atque.
        </p>
        <h3>Texto</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatem ipsum ipsam dolore temporibus
            consequuntur, illum deleniti mollitia ratione beatae! Blanditiis iste minima corrupti vero fugiat ab rem
            dolorum non?
        </p>
        <div class="amostraDeImg" style="height: 60px;">IMG</div><br />
        <div class="amostraDeImg" style="height: 60px;">IMG</div><br />
        <div class="amostraDeImg" style="height: 60px;">IMG</div>
    </div>

    <div class="main">
        <h2>Titulo</h2>
        <h5>Descricao do titulo, 28 de janeiro de 2025</h5>
        <div class="amostraDeImg" style="height: 200px;">IMG</div>
        <p>Algum texto...</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cum repellat aspernatur error saepe suscipit
            beatae est, dolore ea eaque harum, neque dolorum sed ut, libero at doloribus. Magni, tenetur?
        </p>
        <h2>Titulo</h2>
        <h5>Descricao do titulo, 27 de janeiro de 2025</h5>
        <div class="amostraDeImg" style="height: 200px;">IMG</div>
        <p>Outro texto</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti consequuntur similique quaerat sunt, sint
            fugit dolorem sapiente debitis sequi aperiam quas molestias reprehenderit hic distinctio quis accusamus,
            nemo doloremque et.
        </p>
    </div>
</div>