<div>
    <form action="/cadastrar" method="post">
        <div>
            <label for="idNome">Nome:</label>
            <input type="text" name="nome" placeholder="Nome" id="idNome">
        </div>
        <div>
            <label for="idIdade">Idade:</label>
            <input type="number" name="age" placeholder="Idade" id="idIdade">
        </div>
        <div>
            <label for="idEmail">Email:</label>
            <input type="email" name="email" placeholder="Email" id="idEmail">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</div>