<div>
     <form action="/editar" method="POST">
     <input type="hidden" name="id" value="{{convidado._id}}">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Nome" value="{{convidado.nome}}">
        </div>
        <div>
            <label for="idade">Idade:</label>
            <input type="number" name="age" placeholder="Idade" value="{{convidado.age}}">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email" value="{{convidado.email}}">
        </div>
        <div>
            <input type="submit" value="Atualizar">
        </div>
    </form>
</div>